# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/
staticfiles/
.env
.env.*

# VS Code
.vscode/

# Migrations
**/migrations/
!*/migrations/__init__.py

# OS-specific
.DS_Store
Thumbs.db

# Virtualenv
venv/
ENV/
env/
